Repository matrix-org/matrix.org, pull requests merged in 2025-08, with the labels that each got.

#2851 Add Room Dir and T&S R&D working groups
  content/foundation/working-groups/working_groups.toml
Labels: governing board

#2853 Clarification around how the fair usage limits apply
  content/homeserver/pricing.md
Labels: homeserver, time sensitive

#2820 autogenerate the /ecosystem index page
  content/ecosystem/_index.md
  templates/ecosystem.html
Labels: enhancement

#2848 Flesh out WG chairs expectations in the bylaws
  content/foundation/governing-board/bylaws/02-bylaws.md
  content/foundation/governing-board/index.md
Labels: governing board

#2845 remove unused scss file
  sass/_tables.scss
Labels: aesthetic

#2819 Document the TWIM process
  content/homeserver/official.md
  content/twim-guide.md
  sass/_base.scss
  sass/_index.scss
  templates/shortcodes/notice_box.md
Labels: enhancement

#2815 Add more info on WGs
  content/foundation/working-groups/index.md
  content/foundation/working-groups/working_groups.toml
Labels: enhancement, governing board

#2877 feat: add < polycule > to the room upgrade guide
  content/docs/communities/administration/_index.md
Labels: guides

#2880 Hydra disclosure blog post
  content/blog/2025/08/2025-08-14-project-hydra-improving-state-res.md
Labels: blog

#2886 Update chairs and members of my committees and WGs
  content/foundation/governing-board/index.md
  content/foundation/working-groups/working_groups.toml
Labels: governing board

#2887 add room version checkers to upgrade guide
  content/docs/communities/administration/_index.md
Labels: guides, missing content

#2892 add Matrix Live with guidance about room version 12
  content/docs/communities/administration/_index.md
Labels: guides, missing content
