Repository matrix-org/matrix.org, pull requests merged in 2025-07, with the labels that each got.

#2804 update matrix conf phase
  config.toml
Labels: enhancement

#2808 make link between Element and the rust+js sdks clear
  content/ecosystem/sdks/sdks.toml
Labels: ecosystem

#2811 Document continue reading marker in CONTENT.md
  CONTENT.md
Labels: meta

#2788 fix a11y of the figure shortcode
  CONTENT.md
  templates/shortcodes/figure.html
Labels: accessibility

#2812 Create pull_request_template.md
  .github/pull_request_template.md
Labels: meta

#2816 add twim 2025-07-11
  content/blog/2025/07/2025-07-11-twim.md
  static/blog/img/20250711-community-summit.png
  static/blog/img/20250711-element-call.png
Labels: blog

#2817 amend dept of ping to TWIM 20250711
  content/blog/2025/07/2025-07-11-twim.md
Labels: bug

#2814 Separate Element "legacy" mobile client to highlight its becoming a classic.
  content/ecosystem/clients/element-classic.md
  content/ecosystem/clients/element-classic.svg
  content/ecosystem/clients/element-x.md
  content/ecosystem/clients/element.md
Labels: ecosystem

#2821 Hydra security predisclosure
  content/blog/2025/07/2025-07-16-security-predisclosure.md
Labels: blog

#2818 Add homeserver section
  content/contact.md
  content/homeserver/_index.md
  content/homeserver/about.md
  content/homeserver/official.md
  content/homeserver/pricing.md
  navigation.toml
  sass/_header.scss
  templates/includes/header.html
  templates/shortcodes/notice_box.md
  templates/try-matrix.html
Labels: enhancement, homeserver, time sensitive

#2830 add TWIM 2025-07-18
  content/blog/2025/07/2025-07-18-twim.md
Labels: blog

#2831 feat: adds < polycule > as ecosystem member
  content/support/polycule.svg
  content/support/supporters.toml
Labels: foundation

#2841 Add TWIM 2025-07-25
  content/blog/2025/07/2025-07-25-twim.md
Labels: blog

#2844 Document the per day/per month data limit for matrix.org homeserver
  content/homeserver/pricing.md
  sass/_base.scss
Labels: homeserver

#2846 Maximum file size limit of Free usage plan is increased to 10MB
  content/homeserver/pricing.md
Labels: homeserver
