Repository matrix-org/matrix.org, pull requests merged in 2025-09, with the labels that each got.

#2836 Enhance UI: Implement responsive card layout for Governing Board representatives and chairs (Resolves #2741)
  content/foundation/governing-board/index.md
  sass/_governing-board.scss
Labels: enhancement, aesthetic

#2916 Remove EMS from hosting page
  content/ecosystem/hosting/logo-ems-primary.svg
  content/ecosystem/hosting/providers.toml
Labels: ecosystem

#2918 Update member list of room directory working group
  content/foundation/working-groups/working_groups.toml
Labels: governing board

#2915 Add in details of the Synapse Pro homeserver
  content/ecosystem/servers/servers.toml
Labels: ecosystem

#2914 Add the Website Review & Publishing Policy
  CONTRIBUTING.md
Labels: governing board, meta

#2924 Add homepage button to ecosystem/servers
  CONTENT.md
  content/ecosystem/servers/servers.toml
  templates/shortcodes/all_servers.html
Labels: ecosystem, missing content

#2930 rename bridge category mastodon -> activitypub
  content/ecosystem/bridges/activitypub/_index.md
  content/ecosystem/bridges/activitypub/bridges.toml
  content/ecosystem/bridges/activitypub/logo.svg
  content/ecosystem/bridges/activitypub/logo.svg.license
  content/ecosystem/bridges/mastodon/logo.svg
Labels: ecosystem

#2935 fixup twim
  content/blog/2025/09/2025-09-26-twim.md
Labels: blog

#2928 Improve TWIM guide changelog wording
  content/twim-guide.md
Labels: enhancement
